<div class="container">

  <div class="header">
    <h2>FIND A PLACE TO STAY</h2>
    <p><strong>Wanna add a new flat to the list?       <%= link_to 'Click here!', new_flat_path %></strong></p>
  </div>

  <ul>
  <% @flats.each do |flat|%>
    <li><%= flat.description%>          <%= link_to 'Show', flat_path(flat) %></li>
  <% end %>
  </ul>



</div>