// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-flat {
  width: 80%;
  height: 100%;
  background: white;
  margin-top: 2em;
  text-align: left;
  font-size: 20px;
}

.container-flat ol {
  padding-bottom: 3em;
  border: #DDD;
}

.spacer {
  height: 25em;
}

.edit {
  font-size: 17px
}

.back {
  padding-top: 120px;
  float: left;
  font-size: 25px
}