// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fff;
  background-image:url('http://www.iceme.fr/images/grid.jpg');
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  background-size: cover;
  background-image:url(asset_path('background_landing_page.jpg', image));
  height: 800px;
  text-align: center;
  color: white;
}

.container h1 {
  padding-top: 150px;
  font-size: 100px;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.btn {
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  color: #fff;
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.container {
  color: black;
  text-align: center;
  padding-bottom: 20px;
}







